
<link href="/bootstrap/bootstrap.css" rel="stylesheet" id="bootstrap-css">
<script src="/bootstrap/bootstrap.js"></script>
<script src="/bootstrap/pooper.js"></script>
<script src="/jquery.min.js"></script>
<script src="/socketio.js"></script> 
<!------ Include the above in your HEAD tag ---------->


<!DOCTYPE html><html class=''>
<head>
<!-- <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'> -->

<link href='/reset.css' rel='stylesheet' type='text/css' />
<link href='/fontawesome/css/font-awesome.css' rel='stylesheet' type='text/css'/>
<link href='/stylesheets/style.css' rel='stylesheet' type='text/css'/>

</head><body>
<div id="frame">
	<div id="sidepanel">
		<div id="profile">
			<div class="wrap">
				<img id="profile-img" src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.0-1/p160x160/75328588_432468387450968_7469915573422391296_n.jpg?_nc_cat=105&_nc_oc=AQlmNkQf27Kb4EewHfVfuAqbTLEcc06g_MJRUkloIFoaeOunrV-X3xM-L2mdD73WA8w&_nc_ht=scontent.fhan2-4.fna&oh=a61c8b4fb1293ad1176b980e512ffbb1&oe=5E82BA69" class="online" alt="" />
				<p><b id="my_name">Thủy Trần</b></p>
				<i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
				<div id="status-options">
					<ul>
						<li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
						<li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
						<li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
						<li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
					</ul>
				</div>
				<div id="expanded">
					<label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="mikeross" />
					<label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="ross81" />
					<label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
          <input name="twitter" type="text" value="mike.ross" />
          
				</div>
			</div>
		</div>
		<div id="search">
			<label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
			<input type="text" placeholder="Search contacts..." />
		</div>
		<div id="contacts">
			<ul id="contacts_list">
				
			</ul>
		</div>
		<div id="bottom-bar">
			<button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
			<button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
		</div>
	</div>
	<div class="content">
		<div class="contact-profile">
			<img src="https://scontent.fhan2-3.fna.fbcdn.net/v/t1.0-1/p960x960/72183734_415688515781287_2590208924116320256_o.jpg?_nc_cat=107&_nc_oc=AQmFBAiqX6NZbuOgPPgsUWDa3mio_TQ28UiU96yfl5ryMuo0X2FhfvnuoPZKK6tsNdo&_nc_ht=scontent.fhan2-3.fna&oh=2f0a56adf97cc1076f2be4ebc99d634b&oe=5E4B5726" alt="" />
			<p> <textarea id="link" style="height: 60px; width: fit-content; background: none; color: #fff; border: none;"></textarea> <button onClick="copyLink();"><i class="fa fa-clipboard"></i></button></p>
			
		</div>
		<div class="messages">
			<ul id="messages_list">
			
			</ul>
		</div>
		<div class="message-input">
			<div class="wrap">
			<input type="text" placeholder="Write your message..." />
			<i class="fa fa-paperclip attachment" aria-hidden="true"></i>
			<button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
			</div>
		</div>
	</div>
</div>

<script >$(".messages").animate({ scrollTop: $(document).height() }, "fast");

$("#profile-img").click(function() {
	$("#status-options").toggleClass("active");
});

$(".expand-button").click(function() {
  $("#profile").toggleClass("expanded");
	$("#contacts").toggleClass("expanded");
});

$("#status-options ul li").click(function() {
	$("#profile-img").removeClass();
	$("#status-online").removeClass("active");
	$("#status-away").removeClass("active");
	$("#status-busy").removeClass("active");
	$("#status-offline").removeClass("active");
	$(this).addClass("active");
	
	if($("#status-online").hasClass("active")) {
		$("#profile-img").addClass("online");
	} else if ($("#status-away").hasClass("active")) {
		$("#profile-img").addClass("away");
	} else if ($("#status-busy").hasClass("active")) {
		$("#profile-img").addClass("busy");
	} else if ($("#status-offline").hasClass("active")) {
		$("#profile-img").addClass("offline");
	} else {
		$("#profile-img").removeClass();
	};
	
	$("#status-options").removeClass("active");
});
//# sourceURL=pen.js
</script>
<script src="/main.js" , type="text/javascript"></script>
</body></html>
